[Unit]
Description=Directus 
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/mnt/storage/workspace/stacks/directus
ExecStart=docker compose up -d
ExecStop=docker compose down
ExecReload=docker compose restart
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
